body {
    background-image: url("./pokewebbackground.png");
    text-align: center;
    color: white;
}
footer {
    align-content: center;
}
img {
    cursor:pointer
}
text {
    color: white;
}
#header {
    background-image: url("pokemonLogo.png");
    background-image: center;

}
#poke-input {
    background-color: black;
    color: white;
    align-content: center;
}
@media screen and (max-width: 992px) {
    body {
      background-color: whitesmoke;
    }
  }
@media screen and (max-width: 380x) {
    body {
      background-color: whitesmoke;
    }
  }
