body {
    background-image: url("./pokewebbackground.png");
    text-align: center;
}
footer {
    align-content: center;
}
img {
    cursor:pointer
}
text {
    color: white;
}
#header {
    background-image: url("pokemonLogo.png");
    background-image: center;

}